<div>
    <h2 class="blog">
        <a href="/blog/{{_id}}">{{title}}</a>
        <a href="/blog/{{_id}}/edit" title="Szerkesztés" class="button">
            <span class="material-symbols-outlined md-12">edit</span>
        </a>
    </h2>
    <p>
        <span class="name">{{userName}} | {{datetime}}</span>
    </p>
</div>
<div>
    {{#if htmlContent}}
        {{{htmlContent}}}
    {{else}}
        {{{content}}}
    {{/if}}
</div>
<div>
    {{#each discussions}}
    <span class="discussion">
        <a href="/discussion/{{id}}">Hozzászólások</a>
    </span>
    {{/each}}
</div>

<script>
    var codes = document.querySelectorAll('pre code');
    for (i = 0; i < codes.length; i++) {
        hljs.highlightElement(codes[i]);
    }
</script>

<link href="css/blog.css" type="text/css" rel="stylesheet" />

