<div>
    <h1 class="blog">
        <a href="/blog/{{_id}}">{{title}}</a>
    </h1>
    <p>{{userName}}</p>
    {{#each discussions}}
    <span class="discussion">
        <a href="/discussion/{{id}}">{{title}}</a>
    </span>
    {{/each}}
</div>
<div>
    {{content}}
</div>
