<div>
    <h2 class="blog">
        <a href="/blog/{{_id}}">{{title}}</a>
    </h2>
    <p>{{userName}}</p>
</div>
<div>
    {{#if htmlContent}}
        {{{htmlContent}}}
    {{else}}
        {{{content}}}
    {{/if}}
</div>
<div>
    {{#each discussions}}
    <span class="discussion">
        <a href="/discussion/{{id}}">{{title}}</a>
    </span>
    {{/each}}
</div>
<script>
    var codes = document.querySelectorAll('pre code');
    for (i = 0; i < codes.length; i++) {
        hljs.highlightBlock(codes[i]);
    }

</script>
