<div class="wrapped-container">
    <div class="head">
        <h1>{{title}}</h1>
        <div>
            <a href="/blog/new" class="button">Új blog</a>
        </div>
    </div>
    {{#each blogs}}
    <div class="blog">
        <h2>
            <a href="/blog/{{_id}}">{{title}}</a>
        </h2>
        <p>
            <span class="name datetime">{{datetime}}</span>
            <span class="name">{{userName}}</span>
            {{#each discussions}}
            <span class="discussion">
                <a href="/discussion/{{id}}">{{title}}</a>
            </span>
            {{/each}}
        </p>
    </div>
    {{/each}}
</div>

<style>
</style>

<link href="css/blog.css" type="text/css" rel="stylesheet" />

