<h1>{{title}}</h1>
<div>
    <a href="/blog/new">Új blog</a>
</div>
{{#each blogs}}
<div class="blog">
    <h1>
        <a href="/blog/{{_id}}">{{title}}</a>
    </h1>
    <p>{{userName}}</p>
    {{#each discussions}}
    <span class="discussion">
        <a href="/discussion/{{id}}">{{title}}</a>
    </span>
    {{/each}}
</div>
{{/each}}
