{{#each comments}}
<div class="comment" id="{{this.commentId}}">
    <div>
        <div class="comment-header">
            <div>
                <span class="name">{{userName}} | {{datetime}}</span>
            </div>
            <div>
                <a href="/discussion/{{_id}}#{{this.commentId}}" title="Permalink" class="button">
                    <span class="material-symbols-outlined md-12">link_2</span>
                </a>
                {{#if ../commentId}}
                <a href="/discussion/{{_id}}#{{../commentId}}" title="Szülő hozzászólás" class="button">
                    <span class="material-symbols-outlined md-12">arrow_shape_up</span>
                </a>
                {{/if}}
                <a href="/discussion/{{_id}}/comment/{{this.commentId}}/new" title="Válasz üzenet" class="button">
                    <span class="material-symbols-outlined md-12">reply</span>
                </a>
            </div>
        </div>
        <div class="comment-content">
            {{#if htmlContent}}
                {{{htmlContent}}}
            {{else}}
                {{{content}}}
            {{/if}}
        </div>
    </div>
    {{#if comments}}
        {{> comment}}
    {{/if}}
</div>
{{/each}}

<link href="css/comment.css" type="text/css" rel="stylesheet" />

