{{#each comments}}
<div class="comment">
    <div>
        <p>{{userName}}</p>
        <div>
            {{content}}
            <div>
                <a href="/discussion/{{_id}}#{{this.commentId}}">permalink</a>
                {{#if ../commentId}}
                <a href="/discussion/{{_id}}#{{../commentId}}">szülő</a>
                {{/if}}
                <a href="/discussion/{{_id}}/comment/{{this.commentId}}/new">Válasz</a>
            </div>
        </div>
    </div>
    {{#if comments}}
        {{> comment}}
    {{/if}}
</div>
{{/each}}

